@media (max-width: 576px){

    nav ul {
        flex-direction: column !important;
        width: 100%;
        align-items: center;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    .contenedor {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        padding-top: 2rem;
        article{
            width: 90% !important;
            margin: 0 auto 2rem auto;  
        }
    }

    .footer {
        flex-direction: column;
    }

    .mapas {
        flex-direction: column;
    }
}


