$colortexto: White;
$colorfondo: rgb(4, 4, 45);
$letraAnton: "Anton", sans-serif;
$letraArial: Arial, Helvetica, sans-serif;
$relleno: 20px;
$ancho: 100%;
$colorboton: rgb(73, 73, 156);
$tamanio: 20px;


