.contenedor{
    @extend %flexrow;
    article{
        border: white 1px solid;
        border-radius: 15px;
        padding: 10px;
        margin: 40px;
        text-align: center;
        width: $ancho;
        @extend %mayuscula;
        img {
            width: $ancho;
            height: 200px;
        }
    } 
}
