
@keyframes miprimeranimacion {
    0% {
        opacity: 0;
        transform: translate(10px)
    }

    100% {
        opacity: 1;
        transform: translate(20px)
    }
}

.keyframes {
   animation-name: miprimeranimacion;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in;
   animation-duration: 3s;
   animation-delay: 0s;
   
}

