.mapas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.iconos {
    padding: $relleno;
}

.imagen {
    width: $ancho;
    height: 80%;
}

body{    
    padding: 10px;
    background-color: $colorfondo;
    color: $colortexto;
}

.texto {
    margin: $tamanio;
    padding: $relleno;
}

a {
    font-size: $tamanio;
}

h1{
    font-size: $tamanio;
    @extend %mayuscula;
    font-family: $letraAnton;
    @extend %centrado;
    margin: 40px;
}

body{
    font-size: 16px;
}

.segundosubtitulo {
    color: $colortexto;
    font-size: $tamanio;  
    padding: $relleno;
    font-family: $letraArial;
    @extend %mayuscula;
}

.subtitulo {
    font-size: $tamanio;
    @extend %mayuscula;
    @extend %centrado;
    padding: $relleno;
    font-family: $letraArial;
    margin: 30px;
}

.w-50 {
    width: 300px;
    margin: 0 auto;
}